<h3>Welcome, <strong> <%= @user.firstname %> <%= @user.lastname %> </strong>!</h3>
<p>We're excited to announce that an account has been created for you by our Admin. You are now an official member of our trading community!</p>
<p>You can begin trading using your registered email.</p>
<div style="background-color: #f0f0f0; padding: 10px; border-radius: 5px; width: 300px;">
  <p style="margin: 0;">Your password is:</p>
  <div style="background-color: white; padding: 5px; border-radius: 3px;text-align:center;">
    <span style="font-family: monospace;"><%= @user.password %></span>
  </div>
  <p style="margin: 5px 0 0;">Please make sure to keep it secure.</p>
</div>
<p>To start buying and selling stocks, please add funds/cash to your account.</p>
<p>We're here to support you throughout your trading journey. If you have any questions or need assistance, feel free to reach out to us.</p>
<p>Wishing you every success in your trading endeavors!</p>
<p>Warm regards,</p>
<p>Your Trading Community Team</p>