<h3>Good news, <strong> <%= @user.firstname %> <%= @user.lastname %> </strong>!</h3>
<p>Congratulations! Your application has been approved. You are now officially a member of our trading community.</p>
<p>You may now start trading using your registered email.</p>
<p>To start buying and selling stocks, please add funds/cash to your account.</p>
<p>We wish you great success in your trading endeavors. If you have any questions or need assistance, feel free to reach out to us.</p>
<p>Happy trading!</p>
<p>Best regards,</p>
<p>Your Trading Community Team</p>
