<h3>Dear <strong>
    <%= @user.firstname %> <%= @user.lastname %> </strong>,</h3>
<p>Welcome aboard!</p>
<p>We're thrilled to have you join our trading community, where opportunities await and possibilities are endless. Whether you're a seasoned investor or just starting out, we're here to support you every step of the way on your journey to financial success.</p>
<p>We have received your application, and your account status is currently <strong>PENDING</strong>. Please wait for the admin to approve your account.</p>
<p>Don't forget to confirm your account by clicking the link we've sent you, so you can open your trader's account.</p>
<p>Thank you for choosing us. We look forward to assisting you in achieving your trading goals!</p>
<p>Best regards,</p>
<p>Your Trading Community Team</p>
