<p>Dear <%= @user.firstname %>,</p>
<p>We're pleased to inform you that <%= number_to_currency(@amount) %> has been successfully added to your account balance.</p>
<p>Your updated balance is now <%= number_to_currency(@user.balance) %>.</p>
<p>Thank you for choosing our service!</p>