<div >
  <div class="text-center min-h-screen mx-auto flex items-center justify-center flex-col">
    <h1 class="text-5xl font-bold text-white mb-6">Trade for Success</h1>
    <p class="text-xl text-white mb-6">Trade smart, build wealth.</p>
    <button class="text-white py-2 px-4 rounded hover:bg-blue-600 bg-blue-600">
      <%= link_to 'Get Started', new_user_registration_path %>
    </button>
  </div>
</div>
