@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#search::placeholder,
#user_email::placeholder,
#user_firstname::placeholder,
#user_lastname::placeholder,
#user_balance::placeholder,
#user_password_confirmation::placeholder,
#user_password::placeholder,
#admin_user_email::placeholder,
#admin_user_password::placeholder{
  @apply text-gray-400 text-sm;
}

.link_items a.active,
.log_in .active{
  @apply bg-blue-800  text-white;
}

.admin_transaction_scroll::-webkit-scrollbar,
.dashboard_scroll::-webkit-scrollbar,
.portfolio_scroll::-webkit-scrollbar,
.transaction_scroll::-webkit-scrollbar {
  width: 1rem;
}


.admin_transaction_scroll::-webkit-scrollbar-track,
.dashboard_scroll::-webkit-scrollbar-track,
.portfolio_scroll::-webkit-scrollbar-track,
.transaction_scroll::-webkit-scrollbar-track {
  background: transparent;
}


.admin_transaction_scroll::-webkit-scrollbar-thumb,
.dashboard_scroll::-webkit-scrollbar-thumb,
.portfolio_scroll::-webkit-scrollbar-thumb,
.transaction_scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

