@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.backgound__video {
  min-height: 100vh;
  position: absolute;
  inset: 0;
  overflow-y: hidden;
  z-index: -1;
}

#video {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

#search::placeholder,
#user_email::placeholder,
#user_firstname::placeholder,
#user_lastname::placeholder,
#user_balance::placeholder,
#user_password_confirmation::placeholder,
#user_password::placeholder,
#admin_user_email::placeholder,
#admin_user_password::placeholder{
  @apply text-gray-400 dark:text-gray-200  text-sm;
}

.link_items a.active,
.log_in .active{
  @apply bg-blue-800 dark:bg-blue-600 dark:bg-opacity-70 text-white;
}

.admin_transaction_scroll::-webkit-scrollbar,
.dashboard_scroll::-webkit-scrollbar,
.portfolio_scroll::-webkit-scrollbar,
.transaction_scroll::-webkit-scrollbar {
  width: 1rem;
}


.admin_transaction_scroll::-webkit-scrollbar-track,
.dashboard_scroll::-webkit-scrollbar-track,
.portfolio_scroll::-webkit-scrollbar-track,
.transaction_scroll::-webkit-scrollbar-track {
  background: transparent;
}


.admin_transaction_scroll::-webkit-scrollbar-thumb,
.dashboard_scroll::-webkit-scrollbar-thumb,
.portfolio_scroll::-webkit-scrollbar-thumb,
.transaction_scroll::-webkit-scrollbar-thumb {
  @apply bg-gray-200;
  border-radius: 6px;
}
.dark .admin_transaction_scroll::-webkit-scrollbar-thumb,
.dark .dashboard_scroll::-webkit-scrollbar-thumb,
.dark .portfolio_scroll::-webkit-scrollbar-thumb,
.dark .transaction_scroll::-webkit-scrollbar-thumb {
 @apply bg-gray-500;
  border-radius: 6px;
}

