@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.backgound__video {
  min-height: 100vh;
  position: absolute;
  inset: 0;
  overflow-y: hidden;
  z-index: -1;
}

#video {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

#search::placeholder,
#user_email::placeholder,
#user_firstname::placeholder,
#user_lastname::placeholder,
#user_balance::placeholder,
#user_password_confirmation::placeholder,
#user_password::placeholder,
#admin_user_email::placeholder,
#admin_user_password::placeholder{
  @apply text-gray-400 dark:text-gray-200  text-sm;
}
#amount::placeholder{
	@apply text-gray-400 text-sm;
}

.link_items a.active,
.log_in .active{
  @apply bg-blue-600  dark:bg-opacity-70 text-white;
}

.admin_transaction_scroll::-webkit-scrollbar,
.dashboard_scroll::-webkit-scrollbar,
.portfolio_scroll::-webkit-scrollbar,
.transaction_scroll::-webkit-scrollbar {
  width: 1rem;
}


.admin_transaction_scroll::-webkit-scrollbar-track,
.dashboard_scroll::-webkit-scrollbar-track,
.portfolio_scroll::-webkit-scrollbar-track,
.transaction_scroll::-webkit-scrollbar-track {
  background: transparent;
}


.admin_transaction_scroll::-webkit-scrollbar-thumb,
.dashboard_scroll::-webkit-scrollbar-thumb,
.portfolio_scroll::-webkit-scrollbar-thumb,
.transaction_scroll::-webkit-scrollbar-thumb {
  @apply bg-gray-200;
  border-radius: 6px;
}
.dark .admin_transaction_scroll::-webkit-scrollbar-thumb,
.dark .dashboard_scroll::-webkit-scrollbar-thumb,
.dark .portfolio_scroll::-webkit-scrollbar-thumb,
.dark .transaction_scroll::-webkit-scrollbar-thumb {
 @apply bg-gray-500;
  border-radius: 6px;
}

#floatingCirclesG{
	position:relative;
	width:125px;
	height:125px;
	margin:auto;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:22px;
	width:22px;
	border-radius:12px;
		-o-border-radius:12px;
		-ms-border-radius:12px;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:51px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#frotateG_02{
	left:15px;
	top:15px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#frotateG_03{
	left:51px;
	top:0;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#frotateG_04{
	right:15px;
	top:15px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#frotateG_05{
	right:0;
	top:51px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#frotateG_06{
	right:15px;
	bottom:15px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#frotateG_07{
	left:51px;
	bottom:0;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#frotateG_08{
	left:15px;
	bottom:15px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

